<header class="p-3 text-bg-primary">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url "index" %}" class="nav-link px-2 text-secondary">Inicio</a></li>
          <li><a href="" class="nav-link px-2 text-white">Vehiculos</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        {% if not user.is_authenticated %}
        <div class="text-end">
          <a class="btn btn-outline-light me-2" href="{% url "login" %}">Login</a>
          <a class="btn btn-warning" href="{% url "registro" %}">Sign-up</a>         
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url "logout" %}" class="ms-3">
            {% csrf_token %}
            <button type="input" class="btn btn-danger">Logout</button>
        </form>
        {% endif %}
      </div>
      <div>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
      
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url "index" %}" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="" class="nav-link px-2 text-white">Vehiculos</a></li>
              </ul>
      
              <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
              </form>
      
              {% if not user.is_authenticated %}
              <div class="text-end">
                <a class="btn btn-outline-light me-2" href="{% url "login" %}">Login</a>
                <a class="btn btn-warning" href="{% url "registro" %}">Sign-up</a>         
              </div>
              {% endif %}
      
              {% if user.is_authenticated %}
              <form method="post" action="{% url "logout" %}" class="ms-3">
                  {% csrf_token %}
                  <button type="input" class="btn btn-danger">Logout</button>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      </div>
      
    </div>
  </header>


  <script>

  </script>