<header class="p-3 text-bg-dark">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="" class="nav-link px-2 text-white"><h5>Vehiculos</h5></a></li>
          <li><a href="{% url "index" %}" class="nav-link px-2 text-white">Inicio</a></li>
          {% if user.is_authenticated %}
            {% if "vehiculo.add_vehiculomodel" in user.get_all_permissions %}
              <li><a href="{% url "add_vehiculo" %}" class="nav-link px-2 text-white">Agregar</a></li>
            {% endif %}
            {% if "vehiculo.visualizar_catalogo" in user.get_all_permissions %}
              <li><a href="{% url "vehiculo" %}" class="nav-link px-2 text-white">Listar</a></li>
            {% endif %}
          {% endif %}
          
        </ul>

        {% if not user.is_authenticated %}
        <div class="text-end">
          <a class="btn btn-outline-light me-2" href="{% url "login" %}">Acceso</a>
          <a class="btn btn-outline-light me-2" href="{% url "registro" %}">Registrar</a>         
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="post" action="{% url "logout" %}" class="ms-3">
            {% csrf_token %}
            <button type="input" class="btn btn-outline-light me-2">Salir</button>
            <a>Hola: {{ user.username }}</a> 
        </form>
        {% endif %}
      </div>
    </div>
  </header>


  <script>

  </script>