{% extends "layouts/base.html" %}


{% block contenido %}

<main class="container">
        <section >
            <div class="row justify-content-center">
                <div class="col-12 col-md-5 col-lg-4">
                    <section>
                        <h1 class="text-center py-5">Acceso al Sistema</h1>
                    </section>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-nowrap" style="width: 24em;">
                            {{form}}
                            <input type="submit" value="Acceder" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </section>
</main>
</body>

{% endblock contenido %}