{% extends "layouts/base.html" %}
{% block contenido %}

<main class="container py-5">
    <section>
        <h1 class="text-center py-3">Catalogo de Vehiculos</h1>
    </section>
    <section class="text-center py-3">
        <img src="../static/css/img/chevrolet.png" class="rounded" alt="chevrolet">
        <img src="../static/css/img/ford.png" class="rounded" alt="ford">
        <img src="../static/css/img/toyota.png" class="rounded" alt="toyota">
        <img src="../static/css/img/fiat.png" class="rounded" alt="fiat">
    </section>
</main>


{% endblock contenido %}