{% extends "layouts/base.html" %}
{% block contenido %}

<main class="container py-5">
    <section>
        <h1 class="text-center py-3">Catalogo de Vehiculos</h1>
    </section>
    <section class="text-center py-3">
        <span class="align-middle"><img src="../static/css/img/chevrolet.png" class="img-fluid" alt="chevrolet"></span>
        <span class="align-middle"><img src="../static/css/img/fiat.png" class="img-fluid" alt="fiat"></span>
        <span class="align-middle"><img src="../static/css/img/ford.png" class="img-fluid" alt="ford"></span>
        <span class="align-middle"><img src="../static/css/img/toyota.png" class="img-fluid" alt="toyota"></span>
    </section>
</main>


{% endblock contenido %}